@import "variables";
@import "quees";
@import "contacto";
@import "prevencion";
@import "noestassola";

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    position: relative;
    padding-bottom: 3rem;
    min-height: 100vh;
}

html {
    font-size: 62.5%;
}

html {
    background-color: $colorFondo;
}

header h1 {
    font-family: $tipoFuente strong;
    text-align: center;
    font-size: 4rem;
    margin: 20px 10px;
}

.navegacion {
    background-color: rgba(230, 230, 198, 0.884);
    border: solid 1px black;
    position: sticky;
    text-align: center;
    justify-content: space-between;
    top: 0rem;

    .menu li {
        display: flex;
        display: inline-block;
        font-size: $tamanoFuenteMenu;
        font-family: $tipoFuente;
        padding: 1% 1.4%;
        height: 100%;
        transition: all 1s;

        &:hover {
            transform: scale(1.3);
        }

        a {
            text-decoration: none;
            color: black;

            &:focus {
                color: rgb(216, 178, 24);
            }
        }
    }
}

article {
    display: block;
    background-color: $colorFondo;

    p {
        font-size: $tamanoParrafo;
        font-family: $tipoFuente;
        font-style: oblique;
        text-align: justify;
    }
}

.ingresoContacto {
    font-size: $tamanoParrafo;
    font-family: $tipoFuente;
    display: block;
    background-color: $colorFondo;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;

}
.articulo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;

}

body {
    background-color: $colorFondo;
}

.espacioFila {
    width: 100%;
    height: 2rem;
}

label {
    display: block;

}

input {
    padding: 0.5rem;
    margin: 1rem;

}

.imagenInicioDos {
    height: 50rem;
    width: 130rem;
}


.imagenCinco {
    width: 70%;
    height: 80%;
}

.imagenContacto{
    width: 70%;
    height: 70%;
}
.imagenContactoDos{
    width: 90%;
    height: 70%;
}

.imagenDedicatoria{
        width: 5%;
    height: 5%;
}

footer {
    font-family: $tipoFuente;
    font-size: $tamanoParrafo;
    text-align: center;
    font-style: oblique;
    padding: 4rem;
    background: linear-gradient(beige 13%, rgba(140, 128, 71, 1) 99%);
    width: 100%;
    position: relative;
    bottom: 0;
}