/*MAP GET*/
.articulo {
  font-family: Verdana;
  font-size: 2rem;
  text-align: justify; }

/*EXTEND*/
.prueba, .prueba--footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.prueba--footer {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  font-style: oblique;
  padding: 4rem;
  background: linear-gradient(beige 13%, #8c8047 99%); }

/*MIXINS*/
article {
  background-color: beige; }

* {
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 3rem;
  min-height: 100vh; }

html {
  font-size: 62.5%; }

html {
  background-color: beige; }

header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif strong;
  text-align: center;
  font-size: 4rem;
  margin: 20px 10px; }

.navegacion {
  background-color: rgba(230, 230, 198, 0.884);
  border: solid 1px black;
  position: sticky;
  text-align: center;
  justify-content: space-between;
  top: 0rem; }
  .navegacion .menu li {
    display: flex;
    display: inline-block;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1% 1.4%;
    height: 100%;
    transition: all 1s; }
    .navegacion .menu li:hover {
      transform: scale(1.3); }
    .navegacion .menu li a {
      text-decoration: none;
      color: black; }
      .navegacion .menu li a:focus {
        color: #d8b218; }

article {
  display: block;
  background-color: beige; }
  article p {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    text-align: justify; }

.ingresoContacto {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  background-color: beige; }

div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto; }

.articulo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: auto; }

body {
  background-color: beige; }

.espacioFila {
  width: 100%;
  height: 2rem; }

label {
  display: block; }

input {
  padding: 0.5rem;
  margin: 1rem; }

.imagenInicioDos {
  height: 50rem;
  width: 130rem; }

.imagenCinco {
  width: 70%;
  height: 80%; }

.imagenContacto {
  width: 70%;
  height: 70%; }

.imagenContactoDos {
  width: 90%;
  height: 70%; }

.imagenDedicatoria {
  width: 5%;
  height: 5%; }

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  text-align: center;
  font-style: oblique;
  padding: 4rem;
  background: linear-gradient(beige 13%, #8c8047 99%);
  width: 100%;
  position: relative;
  bottom: 0; }
